@import 'tailwindcss';

/* import Flowbite Vue styles */
@import "flowbite-vue/index.css";

/* import Flowbite plugin */
@plugin "flowbite/plugin";

/* add Flowbite Vue directory using @source directive. */
@source "../node_modules/flowbite-vue";

/* input.css */
@custom-variant dark (&:where(.dark, .dark *));

html.dark {
	background-color: #1B1B1F;
}
